.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

/*
     FILE ARCHIVED ON 07:15:09 May 07, 2026 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:03:16 Aug 13, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.869 (2)
  exclusion.robots: 0.119 (2)
  exclusion.robots.policy: 0.104 (2)
  esindex: 0.012 (2)
  cdx.remote: 47.829 (2)
  LoadShardBlock: 252.949 (6)
  PetaboxLoader3.datanode: 216.553 (8)
  load_resource: 292.098 (2)
  PetaboxLoader3.resolve: 201.398 (2)
*/