@media(max-width:749px){.product-kind--perfume .scentCollectionSwiper .mobile span{display:block!important;width:100%;margin:0}}
.product-kind--perfume .variant-title{font:400 14px/21px ABCRepro-Regular,sans-serif!important}
.product-kind--perfume .join-membership-wrap{margin:24px 0!important}
.product-kind--perfume .product-form__submit{height:40px!important;min-height:40px!important;line-height:40px!important}
.product-kind--perfume .accordion_content,.product-kind--perfume .accordion_content p{font:400 14px/19px ABCRepro-Regular,sans-serif!important;letter-spacing:0!important}
